body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
/* first blue block*/
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  font-size: 18px;
  color: #e5e7eb;
}
a {
  text-decoration: none;
  color: white;
}
.presentation {
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 8px 100px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  display: flex;
}
.main-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 48px;
}
.main-info-box1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 8px;
  flex: 0 1 auto;
}
.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  display: flex;
}
.hero-text2 {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
}
.main-info-box2 {
  display: flex;
  width: 400px;
}
#img1 {
  width: 400px;
  height: 200px;
}
.button1 {
  background-color: #3882f6;
  color: white;
  font-size: 18px;
  font-family: "roboto";
  padding: 0.3em 1em;
  border-radius: 8px;
  border: none;
}
/* white info block*/
.more-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.header-more-info {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  padding: 8px;
}
.more-info-imgs {
  display: flex;
  justify-content: center;
  gap: 46px;
  flex-wrap: wrap;
}
.container-more-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}
#img2 {
  width: 150px;
  height: 200px;
  display: flex;
  flex: 0 1 auto;
  margin-bottom: 8px;
}
.text-img {
  font-size: 18px;
  display: flex;
}
.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 18px;
}
.maintext {
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
}
.author {
  color: #1f2937;
  font-weight: bolder;
  display: flex;
  justify-content: end;
  font-size: 20px;
}
